<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275593557670-lcvlompsruo1763ib6jb08uvk13i0ulp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275593557670-lcvlompsruo1763ib6jb08uvk13i0ulp</string>
	<key>API_KEY</key>
	<string>AIzaSyBua92QPLfLrAwcG1QpynqFOIb_GX7mdXM</string>
	<key>GCM_SENDER_ID</key>
	<string>275593557670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gooddelivary</string>
	<key>PROJECT_ID</key>
	<string>push-notification-gooddelivery</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-gooddelivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275593557670:ios:9a0a27e0f5aa93f068a667</string>
</dict>
</plist>